// EARTH
$earth-light: #DBEBB8;
$earth-shade-30: #9EB275;
$earth-shade-60: #666A2F;
$earth-dark: #353E0D;
$earth-blue: #B3DEF1;

body[data-mountain="earth"] {
	background-color: #B0D0DE;
	background-image:
		linear-gradient(
			to bottom,
			#4D9CBE 0%,
			#5EBBE5 16%,
			#B0D0DE 100%
		);
	background-repeat: no-repeat;

	.title {
		color: $earth-dark;
	}

	.data {
		display: none;
		visibility: hidden;
		//transform: translate(-69vw, -5vh) !important;
	}

	.mountains-wrapper {
		clip-path: url('../images/earth-outline.svg');
	}

	.mountains {
		// svg background
		background-image: url('../images/earth-outline.svg');
		background-position: center;
		background-size: auto 78%;
		background-repeat: no-repeat;
	}

	.content {
		h2 {
			color: #fff;
		}
	}

	// data box position
	.data {
		@include mquery(small) {
			transform: translate(-11vw, 3vh);
		}
	}

	.earth-mtn {
		display: block;
		visibility: visible;
	}

	// tiles read left to right and back
	.shard-wrap {
		&:nth-child(1) {
			.shard {
				background-color: $earth-shade-30;
				clip-path: polygon( 39.4% 16.1%, 48.6% 22.667%, 46.4% 11.333% );
			}
		}
		&:nth-child(2) {
			.shard {
				background-color: $earth-shade-60;
				clip-path: polygon( 39.200% 16.000%, 48.600% 22.667%, 45.400% 32.000% );
			}
		}
		&:nth-child(3) {
			.shard {
				background-color: $earth-dark;
				clip-path: polygon( 39.400% 15.667%, 45.800% 31.333%, 39.600% 37.000% );
			}
		}
		&:nth-child(4) {
			.shard {
				background-color: $earth-light;
				clip-path: polygon( 39.600% 38.000%, 39.600% 19.000%, 31.800% 35.000% );
			}
		}
		&:nth-child(5) {
			.shard {
				background-color: $earth-shade-30;
				clip-path: polygon( 31.800% 35.000%, 39.800% 37.667%, 35.800% 47.667% );
			}
		}
		&:nth-child(6) {
			.shard {
				background-color: $earth-dark;
				clip-path: polygon( 35.800% 47.000%, 39.800% 38.000%, 44.800% 42.667% );
			}
		}
		&:nth-child(7) {
			.shard {
				background-color:$earth-shade-30;
				clip-path: polygon( 38.800% 37.667%, 51.600% 26.000%, 48.200% 46.000% );
			}
		}
		&:nth-child(8) {
			.shard {
				// greenland
				background-color: $earth-shade-60;
				clip-path: polygon( 51.800% 21.000%, 55.000% 15.667%, 57.000% 20.333% );
			}
		}
		&:nth-child(9) {
			.shard {
				// greenland
				background-color: $earth-shade-30;
				clip-path: polygon( 52.400% 20.333%, 58.400% 20.000%, 55.600% 25.000% );
			}
		}
		&:nth-child(10) {
			.shard {
				background-color: $earth-light;
				clip-path: polygon( 51.000% 25.667%, 57.200% 34.333%, 47.600% 49.000% );
			}
		}
		&:nth-child(11) {
			.shard {
				background-color: $earth-light;
				clip-path: polygon( 35.6% 47.000%, 41.800% 44.000%, 48.000% 57.333% );
			}
		}
		&:nth-child(12) {
			.shard {
				background-color: $earth-light;
				clip-path: polygon( 48.200% 58.000%, 57.400% 59.667%, 59.600% 70.667% );
			}
		}
		&:nth-child(13) {
			.shard {
				background-color: $earth-shade-30;
				clip-path: polygon( 48.000% 57.667%, 59.800% 71.000%, 51.600% 82.667% );
			}
		}
		&:nth-child(14) {
			.shard {
				background-color: $earth-shade-60;
				clip-path: polygon( 48.200% 57.667%, 51.800% 82.667%, 43.200% 73.000% );
			}
		}
		&:nth-child(15) {
			.shard {
				background-color: $earth-light;
				clip-path: polygon( 59.800% 71.000%, 47.600% 88.333%, 52.600% 89.333%);
			}
		}
		&:nth-child(16) {
			.shard {
				background-color: $earth-shade-60;
				clip-path: polygon(59.7% 71.333%, 52.6% 89.333%, 56.6% 87%);
			}
		}
		&:nth-child(17) {
			.shard {
				background-color: $earth-shade-30;
				clip-path: polygon( 59.800% 71.000%, 56.600% 86.667%, 65.000% 74.667% );
			}
		}
		&:nth-child(18) {
			.shard {
				background-color: $earth-shade-30;
				clip-path: polygon( 67.400% 78.333%, 72.600% 69.000%, 71.000% 62.667% );
			}
		}
		&:nth-child(19) {
			.shard {
				background-color: $earth-shade-60;
				clip-path: polygon(70.8% 62.667%, 72.5% 69%, 76.2% 56.333%);
			}
		}
		&:nth-child(20) {
			.shard {
				background-color: $earth-light;
				clip-path: polygon(70.8% 63%, 76.4% 55.8%, 70.4% 45.333%);
			}
		}
		&:nth-child(21) {
			.shard {
				background-color: $earth-shade-30;
				clip-path: polygon( 76.200% 55.333%, 70.400% 46.333%, 74.800% 39.333% );
			}
		}
		&:nth-child(22) {
			.shard {
				background-color: $earth-shade-30;
				clip-path: polygon( 67.600% 49.667%, 69.400% 41.000%, 63.800% 40.667% );
			}
		}
		&:nth-child(23) {
			.shard {
				background-color: $earth-shade-60;
				clip-path: polygon(69.3% 41.4%, 66.8% 35.333%, 71.6% 28%);
			}
		}
		&:nth-child(24) {
			.shard {
				background-color: $earth-shade-30;
				clip-path: polygon( 69.800% 37.000%, 71.600% 28.000%, 73.800% 34.667% );
			}
		}
		&:nth-child(25) {
			.shard {
				background-color: $earth-light;
				clip-path: polygon(71.6% 28%, 64.8% 30%, 59.8% 13.333%);
			}
		}
		&:nth-child(26) {
			// cloud
			.shard {
				background-color: rgba(20, 230, 240, 0.4);
				clip-path: polygon( 25.400% 47.000%, 21.600% 51.667%, 28.400% 50.667% );
			}
		}
		&:nth-child(27) {
			.shard {
				display: none;
				background-color: $earth-dark;
				clip-path: polygon( 23.200% 12.667%, 36.600% 35.000%, 19.800% 9.333% );
			}
		}
		&:nth-child(28) {
			.shard {
				display: none;
				//background-color: $earth-shade-30;
				//clip-path: polygon( 62.600% 33.333%, 50.400% 53.667%, 57.000% 24.333% );
			}
		}
		&:nth-child(29) {
			.shard {
				display: none;
				//background-color: $earth-light;
				//clip-path: polygon( 50.400% 54.000%, 57.200% 24.667%, 54.600% 22.000% );
			}
		}
		&:nth-child(30) {
			.shard {
				display: none;
				//background-color: $earth-shade-30;
				//clip-path: polygon( 50.600% 53.667%, 55.000% 21.667%, 39.400% 47.000% );
			}
		}

		&.earth-mtn-bugaboo .shard {
			background-color: #999;
			clip-path: polygon(35.600% 33.000%, 34.800% 38.000%, 36.200% 38.000%);
		}


	} // END .shard-wrap
}


