// mountaindrawn
html, body {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
	transition: background-color $transition-speed;
}

.logo, h1, h2, h3, h4 {
	color: rgba(0,0,0,0.8);
	font-family: 'Amatic SC', serif;
	font-weight: 700;
}

.container {
	min-height: 85%;
	margin: 0 auto;
	// @include mquery(small) {
	// 	background: rgba(0,0,0,0.2) !important;
	// }
	// @include mquery(medium) {
	// 	background: rgba(0,0,0,0.5) !important;
	// }
}

header {
	margin: 10px 0 0;
	position: absolute;
	width: 100%;
	top: 0;
}

.logo {
	color: rgba(0,0,0,0.5);
    font-size: 27px;
	margin: 0;
	position: absolute;
	top: calc(#{$default-padding} / 2);
	left: $default-padding;
}

.title {
	display: none;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;

	@include mquery(small) {
		display: block;
		transform: translateY(10px);
		top: 0;
	}
}

.title-nav {
	display: flex;
	justify-content: space-between;
	margin: $default-padding 0;
	position: absolute;
	top: $default-padding;
	right: $default-padding;
	width: 140px;
	z-index: 99;
}

.nav-arrow {
	display: block;
	width: 56px;
	height: 49px;
	position: relative;
	transition: 0.25s;
}

.nav-right {
	&:hover {
		transform: translateX(5px);
	}
}

.nav-left {
	&:hover {
		transform: translateX(-5px);
	}
}

// svg
.arrow-right {
	transform: scale(-1, 1);
}

// svg
#arrow-top,
#arrow-bottom {
	fill: #000;
	opacity: 0.3;
}
#arrow-bottom {
	opacity: 0.4;
}

.data {
	background-color: rgba(255,255,255,0.2);
	display: inline-block;
	font-size: 130%;
	padding: $default-padding;
	width: 100%;
	z-index: 5;

	@include mquery(small) {
		font-size: 100%;
		position: absolute;
		right: $default-padding;
		top: 100px;
		transition: $transition-speed $shard-easing;
		max-width: $data-width;
	}

	p {
		margin: 10px 0 0;
		&:first-of-type {
			margin-top: 0;
		}
	}
}

.data-title {
	margin: 0 0 $default-padding;

	@include mquery(small) {
		display: none;
		visibility: hidden;
	}
}

.data-elevation {
	b {
		font-weight: inherit;
		white-space: nowrap;
	}
}

.mountains-wrapper {
	margin: 0 auto;
	padding: (3 * $default-padding) 0 0;
	height: 100%;
	width: 100%;
	//transition: $transition-speed;

}

.mountains {
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	left: 0;
	right: 0;
	//transition: $transition-speed;
}

.shard-wrap {
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all $transition-speed;
	z-index: 2;
}

.shard {
	width: 100%;
	height: 100%;
	position: absolute;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0);
		top: 0;
		left: 0;
		position: absolute;
	}
}

// stagger duration and delay for each shard
.mountains > .shard-wrap {
  @for $i from 1 through $number-shards {

    $duration: ($i * 0.07s + 0.3s);
    $delay: ($i * 0.02s + 0.2s);

    // NOTE: transition: <property> <duration> <timing-function> <delay>;
    &:nth-child(#{$i}) {
    	.shard {
			//@debug 'duration: ' + $duration;
			transition:
		    	clip-path $duration $shard-easing $delay,
		    	background-color $duration $delay;
    	}
    }
  }
}

// Main content
.content {
	background-color: rgba(0,0,0,$background-opacity);
	padding: $default-padding;

	@include mquery(small) {
		margin-top: 40px;
	}

	p {
		margin-top: 0;
	}
}

.svg-camping {
	position: absolute;
	left: $default-padding;
	transform: translateY(-61px);

	.svg-part {
		fill: #000;
		opacity: $background-opacity;
		transform-origin: 50% 100%;
		transition: all 0.3s;
	}

	&:hover {
		.svg-tent {
			animation: sway 3.8s infinite;
		}
		.svg-tree-1 {
			animation: sway 3.2s 0.2s infinite;
		}
		.svg-tree-2 {
			animation: sway 3.2s 0.3s infinite;
		}
		.svg-tree-3 {
			animation: sway 3.2s 0.6s infinite;
		}
	}
}

@keyframes sway {
	0% {
		transform: skewX(0);
	}
	30% {
		transform: skewX(9deg);
	}
	80% {
		transform: skewX(-8deg);
	}
	100% {
		transform: skewX(0);
	}
}

.about-container {
	display: flex;
	flex-flow: row wrap;
}

.about-block {
	flex: 1 0;
}

.about-title {
	font-size: 26px;
	margin: 0 0 10px;
}

// Photo album
.photos-container {
	flex: 2 0;
	//height: $photo-height;
	overflow-x: auto;
	overflow-y: hidden;
}

.photos {
	display: flex;
	flex-wrap: no-wrap;

	a {
		margin: 0 10px 0 0;
	}

	> img {
		width: 100%;
		height: 100%;
	}
}
