// shared among each illustration
html, body {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
	transition: background-color $transition-speed;
}

h1, h2, h3, h4 {
	color: black;
	font-family: 'Amatic SC', serif;
	font-weight: 700;
}

.container {
	height: 66vh;
	margin: 0 auto;
}

header {
	margin: 10px 0 0;
	position: absolute;
	width: 100%;
	top: 0;
}

.logo {
	margin: 0;
	position: absolute;
	top: calc(#{$default-padding} / 2);
	left: $default-padding;
}

.title-nav {
	display: flex;
	justify-content: center;
	margin: $default-padding 0;
	position: relative;
	z-index: 99;
}

.nav-arrow {
	display: block;
	width: 56px;
	height: 49px;
}

.arrow-right {
	transform: scale(-1, 1);
}

// svg
#arrow-top,
#arrow-bottom {
	fill: #000;
	opacity: 0.3;
}
#arrow-bottom {
	opacity: 0.4;
}

.title {
	margin: 0 $default-padding;
}

// trace image
.polygon-wrap {
	margin: 100px 0 20px 100px;
	width: $mountains-width;
	height: $mountains-height;
}

.mountains-wrapper {
	width: $mountains-width;
	height: $mountains-height;
	margin: 0 auto;
}

.mountains {
	width: $mountains-width;
	height: $mountains-height;
	position: absolute;
}

.shard-wrap {
	transition: $transition-speed $transition-type;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}

.shard {
	//background-color: pink;
	//background-image: url("../images/transparent.png");
	//background-position: center center;
	//background-repeat: repeat;
	//clip-path: polygon(50% 50%, 50% 50%, 50% 50%);
	transition: $transition-speed $transition-type;
	width: 100%;
	height: 100%;
	position: absolute;
}

.content {
	background-color: rgba(0,0,0,0.08);
	margin-top: 20px;
	padding: $default-padding;
}

.left-arrow {

}

.photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.photo {
	max-width: 250px;

	> img {
		width: 100%;
		height: 100%;
	}
}
