// riverflow app
// TODO: replace with river animation
.riverflow-app {
	display: none;
	visibility: hidden;
}

body[data-mountain="riverflow"] {
	background-color: #7DABDC;

	.riverflow-app {
		display: block;
		visibility: visible;
	}

	.title {
		color: $tetons-dark;
	}

	.data {
		display: none;
		visibility: hidden;
	}

	.mountains {
		display: none;
		visibility: hidden;
	}

	.content {
		h2 {
			color: #fff;
		}
	}
}