// TODO: this breaks safari clip-path transform
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// trace image
.polygon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 20px 100px;
    width: $mountains-width;
    height: $mountains-height;
}

// helpers
.hide {
    display: none;
}

.transparent {
    opacity: 0;
}

.opaque {
    opacity: 1;
}

.inline-svg {
    display: inline-block;
    width: 100%;
}

.psuedo-element {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.earth-clip-path {
    // note: 25 points
    clip-path: polygon( 45.600% 11.333%, 39.200% 14.667%, 34.400% 19.333%, 31.600% 22.333%, 27.000% 31.333%, 24.400% 42.000%, 23.800% 47.333%, 25.800% 64.000%, 28.800% 72.000%, 33.400% 80.000%, 37.400% 84.333%, 46.800% 89.000%, 52.200% 89.000%, 56.800% 88.000%, 62.800% 83.333%, 70.800% 74.000%, 73.200% 68.333%, 75.000% 62.667%, 76.400% 55.000%, 76.200% 45.667%, 73.200% 32.000%, 70.800% 27.000%, 67.600% 21.333%, 62.000% 15.333%, 55.400% 12.667% );
}

// scrollbars
::-webkit-scrollbar {
    width: 0.7em;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}
