$color-light: #FFFFF9;

$header-height: 70px;
$logo-height: 56px;
$photo-height: 150px;
$default-padding: 20px;
$background-opacity: 0.08;

$mountains-width: 500px;
$mountains-height: 300px;
$earth-blue: #B3DEF1;
$earth-mountain: #744690;

$data-width: 25vw;

$number-shards: 30;
$transition-speed: 1.3s;
// http://easings.net/#easeInOutCirc
$shard-easing: cubic-bezier(0.785, 0.135, 0.15, 0.86);

// media queries
@mixin mquery($size) {
	@if $size == xsmall {
		@media (min-width: 320px) {
			@content;
		}
	}

	@if $size == small {
		@media (min-width: 500px) {
		 	@content;
		}
	}

	@else if $size == medium {
		@media (min-width: 1000px) {
		 	@content;
		}
	}
}
