@import 'variables';
@import 'utilities';
// TODO: used only on test index.html - archive
body {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
}

h1, h2, h3, h4 {
	color: black;
	//font-family: 'Playfair Display', serif;
	font-family: 'Amatic SC', serif;
    font-weight: 700;
}

.main {
	background: url('../images/kayak-devilsriver.jpg') 50% 50% no-repeat;
	background-size: cover;
	min-height: 500px;
}

.header-main {
	//background-color: $color-light;
	display: flex;
	height: $header-height;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
}

.logo {
	color: #FFFFF9;
	font-size: 2.2em;
	left: 134px;
	margin: 0;
	position: absolute;
	top: 52px;
}

.header-side {
	background-color: $color-light;
	flex: 1;
}

.mountains-svg {
	align-self: flex-end;
	box-sizing: content-box;
	// borders to fill gap
	border-left: 4vw solid $color-light;
	border-top: calc(#{$header-height} - #{$logo-height}) solid $color-light;
}

.front-range {
	fill: $color-light;
}

.far-mountains {
	fill: #B9B2B2;
}

.content {
	display: flex;
	margin: 0 10px;
}

.content-item {
	margin: 0 10px;
}

.test-1 {
	background-size: cover;
	min-height: 500px;
}
